.footer{
    width: 100%;
    padding: 2rem 0;
    /* background-color: rgba(19, 19, 19, 0.8); */
    background-color: #000;
}

.footer-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

.left{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.f-location{
    display: flex;
    margin-bottom: 1rem;
}

.f-location p{
    line-height: 30px;
}

.f-phone{
    margin-bottom: 1rem;
}

.right{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem; 
}

/* .social{ */
    /* margin-top: 1rem; */
/* } */

h4{
    font-size: 1.2rem;
    padding-bottom: 0.7rem;
}

p{
    font-size: 1.2rem;
}

.media {
    padding-top: 0.7rem;
    text-align: center;
}

.media a{
    padding: 0.8rem;
}

.copy{
    text-align: center;
    padding-top: 2.3rem;
}

@media screen and (max-width: 640px) {

    .footer-container{
        grid-template-columns: 1fr;
    }

}